<!-- Modal -->

  <div class="modal-header" style="border: 1px solid darkgray; background-color:#171a21; color: white;">
    <h3 class="modal-title"> API KEY </h1>
  </div>
  
  <div class="modal-body hover-yellow-underline" style="border: 1px solid darkgray; background-color:#171a21; color: white;">
    <ol>
      <li>
        AIzaSyCg2tnEwBThaOS6-sdEzz--8skbl_C3Gps
      </li>
      <li>
        AIzaSyDA4CE4IBeDHUKdAvkYUmioojsF9x_xWww
      </li>
      <li>
        AIzaSyBzdjIsriSTPhakKNWOAmQ_EZDjiGfJINY
      </li>
      <li>
        AIzaSyCJze5dGQUf62QxqlYD4jjPj5dyfm-Gdd4
      </li>
      <li>
        AIzaSyBqe5MQEqFIKC0FNzP2-H6GGGpgipRZz-s
      </li>
      <li>
        6
      </li>
      <li>
        7
      </li>
      <li>
        8
      </li>
      <li>
        9
      </li>
      <li>
        10
      </li>
      <li>
        11
      </li>
      <li>
        12
      </li>
    </ol>
  </div>
  
  <div class="modal-footer" style="border: 1px solid darkgray; background-color:#171a21;">
    <div class="actions" style="justify-content: end; padding-left:15px; padding-right:15px;">
      <!--<button class="btn primary" type="submit" ng-click=""></i>적용</button>-->
      <button class="btn ghost" ng-click="$dismiss()"></i>닫기</button>						
    </div>
  </div>
