<!-- Modal -->

<div class="modal-header" style="border: 1px solid darkgray; background-color:#171a21; color: white;">
    <h3 class="modal-title"> API KEY를 선택하세요. </h1>
</div>

<div class="modal-body hover-yellow-underline" style="border: 1px solid darkgray; background-color:#171a21; color: lightgray;">
    <ol>
        <!---My First Project-->
        <li id="key1" ng-click="self.selectData1()">
            AIzaSyCg2tnEwBThaOS6-sdEzz--8skbl_C3Gps
        </li>
        <!---18554-->
        <li id="key2" ng-click="self.selectData2()">
            AIzaSyDA4CE4IBeDHUKdAvkYUmioojsF9x_xWww
        </li>
        <!---39548-->
        <li id="key3" ng-click="self.selectData3()">
            AIzaSyBzdjIsriSTPhakKNWOAmQ_EZDjiGfJINY
        </li>
        <!---25509-->
        <li id="key4" ng-click="self.selectData4()">
            AIzaSyCJze5dGQUf62QxqlYD4jjPj5dyfm-Gdd4
        </li>
        <!---49116-->
        <li id="key5" ng-click="self.selectData5()">
            AIzaSyBqe5MQEqFIKC0FNzP2-H6GGGpgipRZz-s
        </li>
        <!---78083-->
        <li id="key6" ng-click="self.selectData6()">
            AIzaSyAbA7gMj-cFx7LXO3R75VCl6rWKxG9gG5A
        </li>
        <!---6674-->
        <li id="key7" ng-click="self.selectData7()">
            AIzaSyAGyAuWSAshJhHBqZ6Z49J53bms4VtirFc
        </li>
        <!---26033-->
        <li id="key8" ng-click="self.selectData8()">
            AIzaSyCcQ8ZktgIpGv1KyscsGZckTAsTgny_Ziw
        </li>
        <!---41131-->
        <li id="key9" ng-click="self.selectData9()">
            AIzaSyCV7QKSgts0sxyNq-SXIvXNoiDQFqErT1k
        </li>
        <!---94036-->
        <li id="key10" ng-click="self.selectData10()">
            AIzaSyDyIC7-ariz29cqTxqzaEP6fxg0BV82zHo
        </li>
        <!---41590-->
        <li id="key11" ng-click="self.selectData11()">
            AIzaSyAF2SadeCqQ9iiFCYBDbtwCEcIZdse20k8
        </li>
        <!---81991-->
        <li id="key12" ng-click="self.selectData12()">
            AIzaSyDvGku3NCl_NoXPWRAbrchUjDArpvXVdT8
        </li>
    </ol>
</div>

<div class="modal-footer" style="border: 1px solid darkgray; background-color:#171a21;">
    <div class="actions" style="justify-content: end; padding-left:15px; padding-right:15px;">
        <!--<button class="btn primary" type="submit" ng-click=""></i>적용</button>-->
        <button class="btn ghost" ng-click="$dismiss()"></i>닫기</button>
    </div>
</div>
